@font-face {
    font-family: 'Lexend Deca';
    src: url('/fonts/LexendDeca-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend Deca Bold';
    src: url('/fonts/LexendDeca-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Formula1 Display Bold';
    src: url('/fonts/Formula1-Bold_web_0.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lexend Deca';
    src: url('/fonts/LexendDeca-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend Deca Bold';
    src: url('/fonts/LexendDeca-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Formula1 Display Bold';
    src: url('/fonts/Formula1-Bold_web_0.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
