
@font-face {
    font-family: 'lexend-deca';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/LexendDeca-Regular.ttf') format('truetype');
}

@font-face {
font-family: 'lexend-deca';
font-style: normal;
font-weight: bold;
src: url('/fonts/LexendDeca-Bold.ttf') format('truetype');
}

@font-face {
font-family: 'formula1';
font-style: normal;
font-weight: normal;
src: url('/fonts/Formula1-Bold_web_0.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
